{{ define "main" }}

<div id="postSingle">
  {{- partial "subpage_nav.html" . -}}
  <div class="nonIndexContent">
   <div class="container is-fluid">
    <div class="top">
     <h1 class="pageTitle">💯 Days of Code Tracker</h1>

   </div>

   <div class="blog-container">
     <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Work</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>

        {{ range .Site.Data.doc }}   
        <tr>
          <td>
            <p>{{ .date }}<p>
          </td>
          <td>
             {{ range .work }}
               <p><span class="has-text-weight-bold">{{ .name }}</span> ({{ .length }}):</p>
               <p>&mdash;{{ .description }}</p>
             {{ end }}
          </td>
          <td>
            <p>{{ .total }}<p>
          </td>
       </tr>
       {{ end }}


     </tbody>
   </table>



 </div>
</div>
</div>
<div class="nonIndexFooter">
  {{- partial "footer.html" . -}}
</div>

{{end}}
