<html lang="en">
<head>
  <meta charset="utf-8">

  <title>hap birth!</title>
  <link rel="stylesheet" href="/ciro/style.css">

</head>
<body>
    <script>
    alert("hooray! you are the ciro!");
    </script>
    <div id="center">
        <h1 class="num">18</h1>
        <p>Birthdays are a celebration of who you are & the things that you've done:</p>
        <p>Here's 18 reasons to celebrate you!</p>
        <div id="infobox">

            <span id="lyrictext">hello these are words this is text sampe</span>
            <a href="" id="song"></a>
            <p id="texttext">loremispum this is lorem ipsum thisf is lorem ipsum this is lorem ipsum</p>

        
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/ciro/scripts.js"></script>
</body>
</html>

