{{ define "main" }}
<div id="currentPage" class="page__current">
    {{- partial "subpage_nav.html" . -}}
    <div class="container is-fluid">
        <div class="page__top">
            <h1 class="page__pageTitle">⚙️  current work</h1>
            <p class="page__subtag">Here's what I'm currently up to!</p>
            <span class="updated-date">last updated 5/15/20</span>
        </div>
      <div class="showcase">
          <div class="container is-fluid">
              {{ range .Site.Data.current }}
              <div class="current__item">
                  <h3>{{ .type }}</h3>
                  {{ range .items }}
                  <li>{{ . | safeHTML }}</li>
                  {{ end }}
              </div>
              {{ end }}
          </div>
      </div>
  </div>
</div>

<div class="nonIndexFooter">
  {{- partial "footer.html" . -}}
</div>
{{ end }}