{{ define "main" }}
<div id="workShowcasePage" class="page__portfolio">
   {{- partial "subpage_nav.html" . -}}
   <div class="container is-fluid">
      <div class="page__top">
         <h1 class="page__pageTitle">👩🔨 &nbsp; selected projects</h1>
         <p class="page__subtag">Some of the larger projects that I've worked on, usually spanning over a few weeks to a few months:</p>
      </div>

      <div class="portfolio_main">

         <div class="showcase">
            {{ range .Site.Data.full }}
            <div id="{{ .id }}" class="portfolio__piece">
               <div class="columns is-desktop ">
                  <div class="column">

                     <div class="topLine">
                        <!---->
                        <div>
                           <span class="type">{{ .type }}</span>
                           <a href="{{ .gh }}"><i class="gh fab fa-lg fa-github-alt"></i></a>&nbsp;&nbsp;<a href="{{ .link }}" class="project__name">{{ .name }}</a>
                        </div>
                        <p class="timeframe">{{ .year }}</p>
                     </div>
                  </div>
               </div>

               <div class="columns is-desktop ">
                  <div class="column is-two-fifths-desktop">
                     <a class="project__img" href="{{ .link }}"><img src="{{ .Site.baseurl }}{{ .img }}" alt="Image"></a>
                  </div>
                  <div class="column is-three-fifths-desktop">
                     <div class="container is-fluid">
                        <div class="section__preview">
                           <div class="project__info">

                              <p class="project__shortd">{{ .long_description }}</p>


                              <div class="project__tags">
                                 {{ range .skills }}
                                 <span class="tag is-light">{{ . }}</span>
                                 {{ end }}
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
            {{ end }}
         </div>
      </div>
   </div>
</div>



<div class="nonIndexFooter">
   {{- partial "footer.html" . -}}
</div>

{{ end }}