{{ define "main" }}

<div id="blogPage">
{{- partial "subpage_nav.html" . -}}
<div class="nonIndexContent">
   <div class="container is-fluid">

       <div class="container is-fluid">
           <div class="page__top">
               <h1 class="page__pageTitle">✍️&nbsp; accountability</h1>
               <p class="page__subtag">My memory is bad. This is how I'm trying to remedy that!</p>
              <!--   <span class="updated-date">last updated 5/15/20</span> -->
           </div>


      <div class="blog-container">
        <ol class="post-list">

          <i><p>Coming soon...</p></i>
          <!--   {{ $pag := .Paginate .Pages }}
            {{ range $pag.Pages.ByDate.Reverse }}
                {{ partial "post-stub.html" . }}
            {{ end }} -->
        </ol>
      </div>
  </div>
</div>
<div class="nonIndexFooter">
  {{- partial "footer.html" . -}}
</div>
{{end}}
