<section class="hero is-success">
   <div id="footer" class="hero-body">
      <!--       <nav> -->
      <h1 id="stopShop">📬 links</h1>
      <!--       </nav> -->
      <div class="linkList container is-fluid">
         <div id="about-columns" class="columns">
            <div class="column hero-about is-6-desktop has-text-primary">
               <h1 class="title title-name has-text-primary"> let's get in touch!</h1>
               <!--       <div class="columns">
                  <div class="column is-12"> -->
               <div class="is-inline-block">
                  <p class="footer__link">github</p>
                  <a href="https://github.com/irisval">@irisval</a>
               </div>
               <div class="is-inline-block">
                  <p class="footer__link">email </p>
                  <a href="mailto:iyk7@cornell.edu">iyk7@cornell.edu</a>
               </div>
               <!-- <div class="is-inline-block">
                  <p class="footer__link">email </p>
                  <a href="_mailto:iyk7@cornell.edu">iyk7@cornell.edu</a>
               </div> -->
            </div>
         </div>
         <!--   </div>
            </div> -->
         
         <hr>
         <p class="made">Made with almost as much <3 as coffee.
      </div>
   </div>
</section>