<div class="index">
    <section class="hero is-success">
      <div id="intro" class="hero-body">
        <nav>
          <a class="i" href="/">iris kim</a>
          <div class="nav__right">
             <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">portfolio</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item nav__link" href="/work">work experience</a>
                  <a class="navbar-item nav__link" href="/projects">projects</a>
                  <a class="navbar-item nav__link" href="/community">community</a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">what im up to!</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item nav__link" href="/current">current</a>
                  <a class="navbar-item nav__link" href="/100doc">100 days of code</a>
                  <a class="navbar-item nav__link" href="/posts">blog</a>
                </div>
              </div>
          </div>
        </nav>
        <div class="container is-fluid">
          <div id="about-columns" class="columns">
            <div class="column is-3 is-2-desktop has-text-primary">
              <article>
                <figure class="image is-256x256">
                  <img id="headshot__img" src="img/headshot.JPG">
                </figure>
              </article>
              <!--  <h2 class="title has-text-centered is-4 has-text-primary">Iris Kim</h2> -->
              <!--    <p class="subtitle has-text-centered is-6 has-text-primary">Bergen County Academies</p> -->
              <div class="has-text-centered">
                <span class="icon">
                <a href="mailto:iyk7@cornell.edu"><i class="fas fa-envelope"></i></a>
                </span>
                <span class="icon">
                <a href="https://github.com/irisval"><i class="fab fa-github"></i></a>
                </span>
                <span class="icon">
                <a href="files/2020Resume.pdf"><i class="fas fa-file"></i></a>
                </span>
                <span class="icon">
                <a href="https://www.linkedin.com/in/iris-kim23/"><i class="fab fa-linkedin"></i></a>
                </span>
                <p class="headshot__tag">CS @ Cornell 2023</p>
              </div>
            </div>
            <div class="column hero-about is-7-desktop has-text-primary">
              <h1 class="title title-name has-text-primary">👋&nbsp; hello there!</h1>
              <figure class="image">    
                <img class="wavy" src="img/separator.svg">
              </figure>
              <h2 class="subtitle">I'm a dev in the greater NY area and in my free time you can find me reading, crosswording, checking <a class="u" href="https://www.reddit.com/r/gentlemanbastards/comments/bs0e2j/the_thorn_of_emberlain_draft_complete/">Scott Lynch's Twitter</a>, or doing web development. As my general life approach, I have 2+ unfinished personal projects for every completed one on my GitHub. However, I can say that I've learned from all of them. I'm always on the lookout for new opportunities so if you want to collab, feel free to drop me a line!</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>