<div class="indexNav">
    <div class="indexNav__left">
        <a class="indexNav__link" href="/">iris kim</a>
    </div>
    <div class="indexNav__right">
        <div class="dropdown is-hoverable">
            <p class="navbar-link indexNav__link dropdown-trigger">portfolio</p>
            <div class="navbar-dropdown dropdown-menu">
                <div class="dropdown-content">
                    <a class="dropdown-item indexNav__link" href="/work">work experience</a>
                    <a class="dropdown-item indexNav__link" href="/projects">projects</a>
                    <a class="dropdown-item indexNav__link" href="/community">community</a>
                </div>
            </div>
        </div>

        <div class="dropdown is-hoverable">
            <p class="navbar-link indexNav__link dropdown-trigger">accountability</p>
            <div class="navbar-dropdown dropdown-menu"s>
                <div class="dropdown-content">
                    <a class="dropdown-item  indexNav__link" href="/current">current</a>
             <!--        <a class="dropdown-item  indexNav__link" href="/bookmarks">bookmarks</a> -->
<!--                    <a class="dropdown-item indexNav__link" href="/100doc">100 days of code</a>-->
                    <a class="dropdown-item indexNav__link" href="/posts">blog</a>
                </div>
            </div>
        </div>
      <!--   <a href="#" id="colorToggle" class="indexNav__link">🌃</a> -->
    </div>
</div>