<nav class="subpageNav">
    <a class="i" href="/">iris kim</a>
    <div class="nav__right">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">portfolio</a>
            <div class="navbar-dropdown">
              <a class="navbar-item nav__link" href="/work">work experience</a>
              <a class="navbar-item nav__link" href="/projects">projects</a>
              <a class="navbar-item nav__link" href="/community">community</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">what im up to!</a>
            <div class="navbar-dropdown">
              <a class="navbar-item nav__link" href="/current">current</a>
              <a class="navbar-item nav__link" href="/100doc">100 days of code</a>
              <a class="navbar-item nav__link" href="/posts">blog</a>
            </div>
        </div>
    </div>
</nav>



