{{ define "main" }}
{{- partial "header.html" . -}}
<div id="indexPage">
 <div class="section section__intro">
  {{- partial "index_nav.html" . -}}
  <div class="container is-fluid">
   <div class="columns">
    <div class="column is-3 is-2-desktop has-text-primary">
     <article>
      <figure class="image is-256x256">
       <img id="headshot__img" src="img/headshot.JPG">
      </figure>
     </article>
     <div class="has-text-centered">
                  <span class="icon">
                  <a class="icon-link" href="mailto:iyk7@cornell.edu"><i class="fas fa-envelope"></i></a>
                  </span>
      <span class="icon">
                  <a class="icon-link" href="https://github.com/irisval"><i class="fab fa-github"></i></a>
                  </span>
      <span class="icon">
                  <a class="icon-link" href="files/2020Resume.pdf"><i class="fas fa-file"></i></a>
                  </span>
      <span class="icon">
                  <a class="icon-link" href="https://www.linkedin.com/in/iris-kim23/"><i class="fab fa-linkedin"></i></a>
                  </span>
      <p class="headshot__tag">CS @ Cornell 2023</p>
     </div>
    </div>
    <div class="column bio is-7-desktop has-text-primary">
     <h1 class="title title-name has-text-primary">👋&nbsp; hello therfef!</h1>
     <figure class="image">
      <img class="wavy" src="img/separator.svg">
     </figure>
     <h2 class="subtitle">I'm a dev in the greater NY area and in my free time you can find me reading, crosswording,
      checking <a class="u" href="https://www.reddit.com/r/gentlemanbastards/comments/bs0e2j/the_thorn_of_emberlain_draft_complete/">
       Scott Lynch's Twitter</a>, or doing web development. As my general life approach, I have an unfinished personal
      projects for every completed one. However, I can say that I've learned from all of them.
      I'm always on the lookout for new opportunities so if you want to collab, feel free to drop me a line!
     </h2>
    </div>
   </div>
  </div>
 </div>
 <div class="section section__shop">
  <h1 class="stopShop">🛒&nbsp; one stop shop</h1>
        <div class="container__portfolioSection">

         <div class="portfolioSection">
          <p class="portfolioSection__title">👩‍💼&nbsp; work history</p>
          <p class="portfolioSection__description">Awesome places I've been able to build cool things at and grow from:</p>
          <div id="workf__slider">
           {{ range .Site.Data.work }}
           <div class="column is-3">
            <div class="card is-secondary">
             <div class="card-image">
              <div class="project has-shadow">
               <a href="{{ .link }}" target="_blank">
                <div class="project__overlay"></div>
                <figure class="image is-4by2">
                 <img src="{{ .img }}">
                </figure>
                <span class="project__icon">
                   <div class="project__icon--vcenter"></div>
                   <i class="fas fa-link has-text-secondary fa-lg"></i>
                </span>
                <div class="project__details fadeIn-right">
                 <p class="project__description">{{ .short_description }}</p>
                </div>
               </a>
              </div>
             </div>
            </div>
            <p class="is-6 has-text-centered project__name has-text-grey-dark">{{ .employer }}</p>
            <p class="has-text-centered has-text-grey-dark project__type">{{ .timeframe }}</p>
           </div>
           {{ end }}
          </div>
          <div class="nav__controls">
           <p class=l-w>⟵</p>
           <a href="/work">see all</a>
           <p class="r-w">⟶</p>
          </div>
          <hr>
         </div>


         <div class="portfolioSection">
          <p class="portfolioSection__title">🔨&nbsp; selected projects</p>
          <p class="portfolioSection__description">Here's some of the larger projects that I've worked on, usually spanning over a few weeks to a few months. Check out the projects page for more details!</p>
          <div id="proj__slider">
           {{ range .Site.Data.projects }}
           <div class="column is-3">
            <div class="card is-secondary">
             <div class="card-image">
              <div class="project has-shadow">
               <a href="{{ .link }}" target="_blank">
                <div class="project__overlay"></div>
                <figure class="image is-4by2">
                 <img src="{{ .Site.baseurl }}{{ .img }}">
                </figure>
                <span class="project__icon">
                      <div class="project__icon--vcenter"></div>
                      <i class="fas fa-link has-text-secondary fa-lg"></i>
                   </span>
                <div class="project__details fadeIn-right">
                 <p class="project__description">{{ .short_description }}</p>
                </div>
               </a>
              </div>
             </div>
            </div>
            <p class="is-6 has-text-centered project__name has-text-grey-dark">{{ .name }}</p>
            <p class="has-text-centered has-text-grey-dark project__type">{{ .type }}</p>
           </div>
           {{ end }}


          </div>
          <div class="nav__controls">
           <p class=l-p>⟵</p>
           <a href="/projects">see all</a>
           <p class="r-p">⟶</p>
          </div>
          <hr>
         </div>

         <div class="portfolioSection">
          <p class="portfolioSection__title">🧪&nbsp; experiments</p>
          <p class="portfolioSection__description">A collection of things I've done in my free time that have made me learn how to learn. Check out the projects page for more details!</p>
          <div id="exp__slider">
           {{ range .Site.Data.experiments }}
           <div class="column is-3">
            <div class="card is-secondary">
             <div class="card-image">
              <div class="project has-shadow">
               <a href="{{ .link }}" target="_blank">
                <div class="project__overlay"></div>
                <figure class="image is-4by2">
                 <img src="{{ .img }}">
                </figure>
                <span class="project__icon">
                     <div class="project__icon--vcenter"></div>
                     <i class="fas fa-link has-text-secondary fa-lg"></i>
                  </span>
                <div class="project__details fadeIn-right">
                 <p class="project__description">{{ .short_description }}</p>
                </div>
               </a>
              </div>
             </div>
            </div>
            <p class="is-6 has-text-centered project__name has-text-grey-dark">{{ .name }}</p>
            <p class="has-text-centered has-text-grey-dark project__type">{{ .type }}</p>
           </div>
           {{ end }}
          </div>
          <div class="nav__controls">
           <p class=l-e>⟵</p>
           <a href="/projects">see all</a>
           <p class="r-e">⟶</p>
          </div>
          <hr>
         </div>
        </div>
 </div>
 <div class="section section__skills">
  <h1 class="stopShop">🧠&nbsp; skills</h1>
  <div class="container is-fluid">
   <div class="section__preview">
    <!-- <p class="section__title">🧠&nbsp; skills</p> -->
    <div class="columns">
     <div class="column">
      <div class="skillSection">
       <p class="skillType">languages</p>
       <p class="skills">
        C++, Java, Python
       </p>
       <p class="skills">JavaScript, OCaml, HTML/CSS</p>
      </div>
      <div class="skillSection">
       <p class="skillType">technologies & frameworks</p>
       <p class="skills">Flask, Express, NodeJS, Laravel</p>
       <p class="skills">JQuery, p5.js</p>
       <p class="skills">SASS, LESS, Grav</p>
      </div>
     </div>
     <div class="column">
      <div class="skillSection">
       <p class="skillType">design & prototyping</p>
       <p class="skills">Figma & Sketch</p>
      </div>
      <div class="skillSection">
       <p class="skillType">relevant coursework</p>
         <a class="skills" href="https://classes.cornell.edu/browse/roster/SP20/class/CS/4450">CS 4450 Intro to Computer Networks, </a>
         <a class="skills" href="https://classes.cornell.edu/browse/roster/SP21/class/CS/3410">CS 3410 Computer System Organization and Programming, </a>
          <a class="skills" href="https://classes.cornell.edu/browse/roster/SP21/class/CS/4820">CS 4820 Intro to Analysis of Algorithms, </a>
          <a class="skills" href="https://classes.cornell.edu/browse/roster/FA20/class/CS/4414">CS 4414 Systems Programming, </a>
          <a class="skills" href="https://classes.cornell.edu/browse/roster/SP20/class/CS/3110">CS 3110 Data Structures and Functional Programming, </a>
          <a class="skills" href="https://classes.cornell.edu/browse/roster/SP21/class/CS/4820">CS 2800 Discrete Structures,</a>
          <a class="skills" href="https://classes.cornell.edu/browse/roster/SP21/class/CS/4820">CS 2112 Object-Oriented Design and Data Structures (Honors)</a>
   
       <!-- <p class="skills">NodeJS - The Complete Guide (Udemy)</p> -->
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 {{- partial "index_footer.html" . -}}
</div>

{{ end }}