@charset "utf-8";

/*! bulma.io v0.6.2 | MIT License | github.com/jgthms/bulma */

/*@font-face {
	font-family: WhitneyLight;
	src: url(../fonts/WhitneyHTF-Light.otf);
}

@font-face {
	font-family: WhitneySemiBold;
	src: url(../fonts/WhitneyHTF-SemiBold.otf);
}*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import "../bulma/sass/utilities/initial-variables";
@import "../bulma/sass/utilities/functions";
$family-primary: 'Lato',
sans-serif;
$success: #FFF;
$lightblue: #91cff9;
$lightestblue: #e9f5fd;
$other: #e0e0e0;
$light-gray: #bac4ca;
$blue-gray: #8f9fa9;
$primary: #474747;

/*$primary: #212121;*/

$primary-invert: #FFF;
$secondary: #FFF;
$secondary-invert: #414145;
$tertiary: $lightblue;

/*$tertiary: #b5b5b5;*/


/*$tertiary: #007FFF;*/

$tertiary-invert: #FFF;
$quaternary: $lightestblue;
$quaternary-invert: $light-gray;
/*$gap: 150px;*/

/*#89BBFE;*/


/*#16F4D0;*/


/*B80C09*/

html, body {
}
body {
	color: $secondary-invert;
}

.no {
	position: absolute;
  	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-size: 1.5em;
    letter-spacing: 5px;
    font-weight: 700;
    color: rgba(0,0,0,.87);
}

/*p {
	font-family: 'Source Sans Pro', sans-serif;
}
*/
.index {
	.title {
		/*font-family: 'WhitneySemiBold';*/
		font-family: "Lato";
		font-weight: 700 !important;
		letter-spacing: 1.5px;
	}
	.title-name {
		margin-bottom: 0.85rem !important;
	}
	.wavy {
		width: 6.4em !important;
	}
	.slick-arrow.slick-hidden {
		/*    display: block !important;*/
	}

	/*#l {
	float: left;
}*/
	.nav__controls {
		p {
			color: $blue-gray;
		}
		display: flex;
		font-size: 40px;
		/*	flex-direction: row;*/
		/*	margin: 0 75px;*/
		justify-content: center;
		align-items: center;
		padding-bottom: 15px;
		/*	flex-direct7ion: row;*/
		a {
			color: $light-gray !important;
			font-weight: 700;
			font-size: 1rem;
			margin: 5px 10px 0;
			font-size: 1.1rem;
		}
	}
	#intro {
		background-color: $quaternary;
		margin: 30px;
		padding: 15px 20px 50px !important;
	}

	.subpageNav {
		background-color: $quaternary;

	}
	nav {
		min-height: 3.25rem;
		display: flex;
		flex-direction: row;
		color: $secondary-invert !important;
		font-weight: 600;
		letter-spacing: 1px;
		/*	padding: 10px 25px;*/
		.i {
			font-weight: 900;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.nav__right {
		margin-left: auto;
	}
	.nav__link {
		line-height: 1.5;
		padding: 0.5rem 0.75rem;
		position: relative;
	}
	#about-columns {
		margin-top: 2.5em !important;
	}
	.linkList {
		margin-left: 30px;
	}
	.btn-sml {
		font-size: 0.85rem;
	}
	#headshot__img {
		border-radius: 50%;
		margin-bottom: 1.3rem;
		/*width: 90%;*/
	}
	.headshot__tag {
		font-size: 13px;
		color: $light-gray;
	}
	@media (max-width: 768px) {
		#headshot__img {
			width: 29%;
			margin: 0 auto;
			margin-bottom: 0.7em;
		}
	}

	.subtitle {
		font-family: 'Source Sans Pro', sans-serif;
		margin-top: 1.4em;
		margin-bottom: 0.7rem !important;
		color: $light-gray !important;
		font-size: 1.15rem;
		line-height: 1.65 !important;
		
	}
	@media (max-width: 485px) {
		.subtitle,
		.section__title {
			font-size: 1.00rem !important;
		}
	}
	.section__preview {
		padding-top: 20px;
	}
	.section__title {
		color: $light-gray !important;
		font-size: 2rem;
		font-weight: 400;
	}
	.section__description {
		font-family: 'Source Sans Pro', sans-serif;
		margin-bottom: 30px;
		color: $blue-gray !important;
	}
	.more {
		color: $primary !important;
		font-weight: 700;
		border-radius: none !important;
	}
	.hero-about {
		margin-left: 4em;
	}
	.card {
		box-shadow: none !important;
	}
	.project-card {
		padding: 0.1rem 1.5rem !important;
	}
	.project {
		position: relative;
		max-width: 100%;
		width: 100%;
		margin: auto;
		overflow: hidden;
		.project__overlay {
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
		}
		.image {
			position: inherit !important;
		}
	}
	.project:hover .project__overlay {
		opacity: 1;
	}
	.project__details {
		position: absolute;
		text-align: center;
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
		top: 50%;
		left: 50%;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		color: $secondary !important;
		.title {
			margin-bottom: 0.3rem !important;
		}
		h3 {
			font-weight: 600;
			/*margin-bottom: 0.2em;*/
		}
		/*p {
	  color: #fff;
	  font-size: 0.8em;
	}*/
	}
	.project:hover .project__details {
		/*	top: 50%;*/
		left: 50%;
		opacity: 1;
	}
	.project__icon {
		background: $tertiary;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 2.3rem;
		height: 2.3rem;
		text-align: center;
		.project__icon--vcenter {
			height: 100%;
		}
		.project__icon--vcenter,
		.i {
			display: inline-block;
			vertical-align: middle;
		}
		/*todo: figure out why icon isnt horizontally centering*/
	}
	.project__description {
		font-size: 0.9rem !important;
	}
	.project__name {
		font-weight: 600;
		padding-top: 0.5rem;
		color: $primary !important;
	}
	.project__type {
		font-size: 0.75rem !important;
	}
	.has-shadow {
		/*	box-shadow: 0 0.375em 2.5em rgba(0, 0, 0, 0.20);*/
	}
	.figure .image {
		height: 100%;
	}
	.fadeIn-right {
		left: 80%;
	}
	.skillType {
		color: #8f9fa9;
		font-weight: 700;
		font-size: 1.25rem;
		;
	}
	.skills {
		color: #8f9fa9;
	}
	.skillSection {
		margin: 30px 0 0;
	}


}

/*general*/
	.u {
		text-decoration: underline !important;
	}
	hr {
		border: 0;
		border-top: 2px solid #e2e8ef  !important;
	}
	#footer {
		background-color: $other;
		margin: 0 30px 30px;
		padding: 15px 20px 50px !important;
	}
	.nonIndexFooter section {
		background-color: $other !important;
		width: 100%;
		margin-top: 125px;
	}

		.mainContent .hero {
		padding-bottom: 35px;
		margin: 0 30px 30px;
		background-color: #f8f9f9 !important;
	}
	#stopShop {
/*		position: fixed;*/
		margin: 20px 30px;
		color: #474747 !important;
		letter-spacing: 1px;
		font-weight: 900;
		font-size: 1rem;
	}
	.containerAlternative {
		margin-left: 32px !important;
		margin-right: 32px !important;
	}
	.item {
		margin-bottom: 10px;
		span {
			display: inline-block;
			font-weight: 700;
			margin-right: 15px;
			font-size: 28px;
		}
		p {
			font-size: 20px;
			display: inline-block;
			color: #727f87;
		}
	}

	.todos {
		padding-bottom: 60px !important;
		margin-bottom: 200px;
	}

#footer {
	/*.l {
		font-color:;
	}*/
	.footer__link {
		line-height: 1.5;
/*	    padding: 0.5rem 0.75rem;*/
		margin-right: 100px;
	    position: relative;
	    color: #414145 !important;
	    font-weight: 600;
	    letter-spacing: 1px;
	}
	.made {
		color: #8f9fa9 !important;
	}
	.linkList {
		padding: 30px 0 0;
		margin-left: 20px;
	}
}



	
/*projects page*/

.showcasePage {
	/*margin: 30px;*/
	.subpageNav {
		background-color: $quaternary !important;
		background-color: #e9f5fd !important;
	    position: fixed;
	    width: 100%;
	    z-index: 100;
	}
	.mainContent section {
		box-shadow: 0 0.375em 2.5em rgba(0, 0, 0, 0.20);
		/*height: 500px;
		overflow-y: auto;
*/
	}
	.top {
		padding: 100px 0 75px;
	}
	nav {
		min-height: 3.25rem;
		display: flex;
		flex-direction: row;
		color: #414145 !important;
		font-weight: 600;
		letter-spacing: 1px;
		padding: 15px 20px 15px !important;
		.i {
			font-weight: 900;
		}
		a {
			color: #414145 !important;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.nav__right {
		margin-left: auto;
	}
	.nav__link {
		line-height: 1.5;
		padding: 0.5rem 0.75rem;
		position: relative;
	}
	.nonIndexContent {
		padding-top: 30px;
		width: 100%;
		/*background-color: #f8f9f9 !important*/
	}

	.topLine {
		margin-top: 25px;
		span {
			font-size: 12px;
			font-weight: 900;
			color: #727f87;
		}
	}

	.project__name {
		color: #727f87;
		font-size: 2rem;
		font-weight: 400;
		display: inline-block;

	}
	.project__tags {
		display: inline-block;

	}
	.project__shortd {
		font-family: 'Source Sans Pro', sans-serif;
		color: #8f9fa9 !important;
		margin: 10px 0 25px;
	}
	.tag {
		background-color: $lightblue !important;
		color: white !important;
		border-radius: 1px !important;
	}
	.gh {
		display: inline-block;
		color: #727f87
	}
	.go {
		vertical-align: top;
		display: inline-block;
		float: right;
		font-weight: 600;
    	font-size: 25px;
    	color: #bac4ca !important;
	}
	.pageTitle {
		font-weight: 700;
		font-size: 2.5rem;
		font-weight: 700;
    	letter-spacing: 1.5px;
	}
	.subtag {
		color: #bac4ca !important;
		font-weight: 400;
		font-size: 1.15rem;
    	line-height: 1.65 !important;
    	font-family: 'Source Sans Pro', sans-serif;
	}

	

	@media only screen and (min-width : 20em) {
		.top, .showcase {
			margin-left: 30px;
    		margin-right: 30px;
		}
	}

	/* ===== == = === 30em (480px) === = == ===== */

	@media only screen and (min-width : 30em) {
		.top, .showcase {
			margin-left: 30px;
    		margin-right: 30px;
		}
	}

	/* ===== == = === 37.5em (600px) === = == ===== */

	@media only screen and (min-width: 37.5em) {
		.top, .showcase {
			margin-left: 30px;
    		margin-right: 30px;
		}
	}

	/* ===== == = === 48em (768px) === = == ===== */

	@media only screen and (min-width : 48em) {
		.top, .showcase {
			margin-left: 30px;
    		margin-right: 30px;
		}
	}

	/* ===== == = === 56.25em (900px) === = == ===== */

	@media only screen and (min-width : 56.25em) {
		.top, .showcase {
			margin-left: 100px;
   			margin-right: 100px;
		}
	}

	/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (max-width : 1086px) {
		.top, .mainContent .container {
			    margin-left: 32px;
    			margin-right: 32px;
		}
	}

	@media only screen and (min-width : 68.75em) {
		.top, .showcase {
			margin-left: 125px;
   			margin-right: 125px;
		}
	}

	/* ===== == = === 81.25em (1300px) === = == ===== */

	@media only screen and (min-width : 81.25em) {
		.top, .showcase {
			margin-left: 200px;
	    	margin-right: 200px;
		}
	}




	.showcase .column {
		margin: 0 auto;
	}
	.has-shadow {
		box-shadow: 0 0.375em 2.5em rgba(0, 0, 0, 0.20);
	}
	.image {
		max-width: 33.33%;
	}
	.box {
		border-radius: 1px;
		box-shadow: none;
		background-color: #f8f9f9 !important;
	}
}
@import "../bulma/sass/utilities/derived-variables.sass";
$addColors: ( "secondary": ($secondary, $secondary-invert),
"tertiary": ($tertiary, $tertiary-invert),
"quaternary": ($quaternary, $quaternary-invert));
$colors: map-merge($colors,
$addColors);
@import "../bulma/sass/utilities/_all";
@import "../bulma/sass/base/_all";
@import "../bulma/sass/elements/_all";
@import "../bulma/sass/components/_all";
@import "../bulma/sass/grid/_all";
@import "../bulma/sass/layout/_all";