@import url('https://fonts.googleapis.com/css?family=DM+Sans|Josefin+Sans:400,700|Lora|Source+Sans+Pro&display=swap');
body, html {
	margin: 0;
}
#center {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 50%;
    z-index: 1000;
    margin-top: 50px;
}
.box {
	z-index: 1010;
	cursor: pointer;
}
#infobox {
	border: 2px solid blue;
	opacity: 0;
	padding-top: 10px;
	    padding: 5px;
	/*visibility: hidden;*/
}

span {
	padding: 2.5px 7px;
	font-style: italic;
}
.num {
	font-size: 18em;
	line-height: 1em;
	letter-spacing: 8px;
	font-family: 'Lora', serif;
	font-weight: 700;
	color: rgba(0,0,0,.87);
	/*font-family: 'DM Serif Display', serif;*/
	margin-bottom: 0;
}

.no {
	font-size: 1.5em;
    line-height: 1.75em;
    letter-spacing: 5px;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    margin-bottom: 0;
}

.who {
	font-size: 6.5em;
	line-height: 1em;
	letter-spacing: 8px;
	font-family: 'Lora', serif;
	font-weight: 700;
	color: rgba(0,0,0,.87);
	margin-bottom: 0;
}

.yes {
	font-family: 'Josefin Sans', sans-serif !important;
    color: white;
    background-color: rgba(0,0,0,0.65);
    border: 1.5px solid rgba(0,0,0,0.65);
    width: 145px;
    height: 29px;
    font-size: 14px;
}

.pwd {
	width: 240px;
    height: 30px;
    margin-top: 3.5em;
    margin-bottom: 15px;t
}
#texttext {
	font-family: 'Josefin Sans', sans-serif !important;
	color: rgba(0,0,0,0.65) !important;
}
span {
	display: block;
	margin-bottom: 10px;
}
p, span, a {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: rgba(0,0,0,0.72)
}